/*.order_num {    background-color:gray;    width:3%;}*/
/*.basic_info {    color:white;    background-color:black;}*/
/*.pay_info {    background-color:#2196f3;}*/

#mytab {
    width:1820px;
    table-layout:fixed;  /*  只有table设为fixed，后面td才能起作用 */
}
th, td {
    white-space:nowrap;  /* 不换行 */
    overflow:hidden; /* 内容超出宽度时隐藏超出部分内容 */
    text-overflow:ellipsis;
}

