#mytab {
    table-layout:fixed;
    width:1420px;

}
th,td {
    white-space:nowrap;   /* 不换行 */
    overflow:hidden;   /* 内容超出宽度时隐藏超出部分内容 */
    text-overflow:ellipsis;
}
/*.order_num {
    width:45px;
}
.date_apply {
    width:45px;
}
.date_callback {
    width:45px;
}
.pro_num {
    width:100px;
}*/



