{% extends "projects/base.html" %}
{% load static %}

{% block title %} 开票申请记录 {% endblock %}

{% block css %}

  <link rel="stylesheet" href="{% static 'datatables/DataTables-1.10.22/css/jquery.dataTables.min.css' %}">
  <link rel="stylesheet" href="{% static 'datatables/Buttons-1.6.5/css/buttons.dataTables.min.css' %}">
  <link rel="stylesheet" href="{% static 'datatables/FixedColumns-3.3.2/css/fixedColumns.dataTables.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/apply_list.css'  %}"  />
{% endblock %}

{% block content %}

<div class="row">
<div class="col-xs-12 col-md-12">

<div class="box">

  <div class="box-header" >
        <h4 class="box-title">开票申请记录表</h4>
  </div>

  <div class="box-body" >

      <table id="mytab" style="table-layout:fixed" class="table table-bordered table-condensed table-striped">
          <thead>
              <tr>
                  <th class="order_num" >序号</th>
                  <th class="pay_info" >状态</th>
                  <th class="basic_info" >合同编号</th>
                  <th class="basic_info" >开票单位</th>
                  <th class="basic_info" >新单位名称</th>
                  <th class="basic_info" >发票金额</th>
                  <th class="basic_info" >开票张数</th>
                  <th class="basic_info" >开票要求</th>
                  <th class="basic_info" >合同文件</th>
                  <th class="basic_info" >项目清单</th>
                  <th class="basic_info" >检测报告</th>
                  <th class="basic_info" >联系人信息</th>
                  <th class="pay_info" >开票类型</th>
                  <th class="pay_info" >原发票号</th>
                  <th class="pay_info" >备注</th>
                  <th class="pay_info" >项目编号</th>
                  <th class="pay_info" >申请人</th>
                  <th class="pay_info" >申请日期</th>


              </tr>
          </thead>
          <tbody>
                {% for apply in apply_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>  <!--forloop为当前循环的次数-->
                        <td>{{ apply.get_status_display }}</td>
                        <td> <a href="/projects/apply/{{ apply.id }}">{{ apply.contract_num }}</a> </td>
                        <td>{{ apply.unit_name }}</td>
                        <td>{{ apply.new_unit|default_if_none:"--" }}</td>
                        <td>{{ apply.cost_invoice }}</td>
                        <td>{{ apply.sheet_num }}</td>
                        <td>
                            {% if not apply.require_invoice.all %}
                                <span>--</span>
                            {% else %}
                                {% for require in apply.require_invoice.all  %}
                                <span>{{ require.require_content }}</span>
                                {% endfor  %}
                            {% endif %}
                        </td>
                        <!--报账材料暂时不需要-->
                        <td>
                            {% if not apply.contract_file %}
                                <span>--</span>
                            {% else %}
                                <a href="/media/{{ apply.contract_file.name }}"> {{ apply.contract_file.name }}</a>
                            {% endif %}
                        </td>
                        <td>
                            {% if not apply.list_file %}
                                <span>--</span>
                            {% else %}
                                <a href="/media/{{ apply.list_file.name }}">{{ apply.list_file.name }}</a>
                            {% endif %}
                        </td>
                        <td>
                            {% if not apply.report_file %}
                                <span>--</span>
                            {% else %}
                                <a href="/media/{{ apply.report_file.name }}">{{ apply.report_file.name }}</a>
                            {% endif %}
                        </td>
                        <td>{{ apply.address_linkman|default_if_none:"--" }}</td>
                        <td>{{ apply.type_apply }}</td>
                        <td>
                            {% if not apply.red_invoice.all %}
                                <span>--</span>
                            {% else %}
                                {% for original_inv in apply.red_invoice.all  %}
                                <span>{{ original_inv.red_invoice }}</span>
                                {% endfor %}
                            {% endif %}
                        </td>
                        <td>{{ apply.note|default_if_none:"--" }}</td>
                        <td>
                            {% for pro in apply.pro_num.all  %}
                                <span>{{ pro.experiment_num }}</span>
                            {% endfor  %}
                        </td>
                        <td>{{ apply.person_apply }}</td>
                        <td>{{ apply.c_time|date:"Y-m-d" }}</td>


                    </tr>
                {% endfor %}
          </tbody>
      </table>

  </div> <!--/.box-body-->
</div>  <!--/.box-->
</div>  <!--/.col-->
</div>  <!--/.row-->


{% endblock content %}

{% block script %}

<!--新加入的datatables插件-->
<script type="text/javascript" src="{% static 'datatables/DataTables-1.10.22/js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'datatables/Buttons-1.6.5/js/dataTables.buttons.min.js' %}"></script>

<script type="text/javascript" src="{% static 'datatables/JSZip-2.5.0/jszip.min.js' %}"></script>
<script type="text/javascript" src="{% static 'datatables/Buttons-1.6.5/js/buttons.flash.min.js' %}"></script>
<script type="text/javascript" src="{% static 'datatables/Buttons-1.6.5/js/buttons.html5.min.js' %}"></script>
<script type="text/javascript" src="{% static 'datatables/Buttons-1.6.5/js/buttons.print.min.js' %}"></script>
<script type="text/javascript" src="{% static 'datatables/FixedColumns-3.3.2/js/dataTables.fixedColumns.min.js' %}"></script>
<script>
$(document).ready( function() {
        $('#mytab').DataTable({
          "paging": false,
          "lengthChange": true,
          "searching": true,
          "info": true,
          "ordering":true,
          "autoWidth":false,
          "lengthMenu":[[5,10,25,50,-1],[5,10,25,50,"all"]],

          dom:'lBfrtip',
          "buttons": [
            {
                extend:'excel',
                text:'Export',
            }
          ],
          "scrollY":"600px",
          //当显示更少的记录时，是否允许表格减少高度
          "scrollCollapse": true,
          "scrollX": true,
          fixedColumns:{
            leftColumns:3
          },
        //定义某几列不参与排序
        "columnDefs":[
            {"orderable":false, "targets":[4,5,6,7,8,9,10,11,12,14,15]},
            {"width":"40px", "targets":0 },
            {"width":"45px", "targets":1 },
            {"width":"75px", "targets":2 },
            {"width":"230px", "targets":3 },
            {"width":"90px", "targets":4 },
            {"width":"60px", "targets":5 },
            {"width":"60px", "targets":6 },
            {"width":"60px", "targets":7 },
            {"width":"60px", "targets":8 },
            {"width":"60px", "targets":9 },
            {"width":"60px", "targets":10 },
            {"width":"70px", "targets":11 },
            {"width":"70px", "targets":12 },
            {"width":"70px", "targets":13 },
            {"width":"70px", "targets":14 },
            {"width":"80px", "targets":15 },
            {"width":"55px", "targets":16 },
            {"width":"70px", "targets":17 },

            {
            "targets": [3,11,12,13],
            //"data": 'pro_type',
            "render": function ( data, type, full, meta ) {
                return data.length > 4 ?'<span title="'+data+'">'+data+'</span>':data;
            },
            },

        ]

        });
        //$('#mytab').wrapAll("<div style='overflow-x:auto; width:100%;'></div>");

      });

</script>

{% endblock %}
